h1 {
  text-align: left;
  margin: auto;
}

table {
  text-align: left;
}

table tr th {
  text-align: center;
  background-color: #4781ff;
  border-color: #000000;
  padding: -10px 10px;
}

table tr td {
  padding: 3px 8px;
}
